@import '../../../scss/global';
@import '../TextField/form-texts';

@mixin prx--make-check-streched(){
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.#{$prefix}--radio-button{
    position: relative;
    cursor: pointer;

    & .#{$prefix}--radio-button-label{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        & .prefix--radio-button-check{
            width: 15px;
            height: 15px;
            border: 1px solid $grey-50;
            border-radius: 2rem;
            cursor: pointer;
            margin-right: 15px;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before{
                content: " ";
                width: 5px;
                height: 5px;
                display: inline-block;
                border-radius: 50%;
                background-color: transparent;
            }
        }
    }    

    & .#{$prefix}--radio-button-input{

        @include prx--make-check-streched();

        &:checked{

            & + .#{$prefix}--radio-button-label .prefix--radio-button-check{
                background: $cyan-10;
                border-color: $cyan-60;
                
                &::before{
                    background-color: $cyan-70;
                }
            }

            &:disabled{
                & + .#{$prefix}--radio-button-label .prefix--radio-button-check{
                    border-color: $grey-30;
                    
                    &::before{
                        background-color: $grey-40;
                    }
                }
            }
        }

        &:disabled{
            & + .#{$prefix}--radio-button-label .prefix--radio-button-check{
                border-color: $grey-30;
                background-color: $grey-10;
            }
        }

        &:active:not([disabled]){
            & + .#{$prefix}--radio-button-label .prefix--radio-button-check{
                box-shadow: 0 0 0 .15rem $cyan-20;
            }
        }
        
        
        &:focus:not([disabled]){
            & + .#{$prefix}--radio-button-label .prefix--radio-button-check{
                box-shadow: 0 0 0 .15rem $cyan-10;
            }
        }

    }
}
