.icon{
    width: 24px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &.icon\:has-space{
        margin-right: 10px;
    }
}

.icon\:is-sm{
    width: 16px;
    height: 16px;
}
.icon\:is-lg{
    width: 32px;
    height: 32px;
}