$tab-border-color: $grey-30;

.tabs{
    display: flex;
    border-bottom: 1px solid $tab-border-color;

    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: row;

        li{
            display: block;
            margin: 0;
            text-align: center;

            a{
                padding: 8px 15px;
                color: $grey-80;
                border-bottom: 2px solid $grey-50;
                display: block;
                margin-bottom: -1px;

                &:hover{
                    border-color: $teal-40;
                }
            }
        }

        &.is-left{
            justify-content: flex-start;
        }

        &.is-center{
            justify-content: center;
        }

        &.is-right{
            justify-content: flex-end;
        }

        &.is-fill{
            justify-content: space-between;

            li{
                width: 100%;
            }
        }
    }

    & .is-tab{
        li a{
            border-color: transparent;
            background-color: $white;

            &.is-active{
                border: 1px solid $tab-border-color;
                border-bottom-color: transparent;
            }

            &:not(.is-active){
                border-bottom-width: 1px;
                border-color: transparent;
            }

            &:not(.is-active):hover{
                background-color: $grey-10;
            }
        }
    }
}