/**

    ======== SHADOW ========
    .shadow:is-shadow_blur/shadow_visibility@breakpoint
        shadow_blur range 1-6
        shadow_visibility range 1-8

*/

$shadow-blur-scale: 6 !default;
$shadow-visibility-scale: 8 !default;

@for $i from 0 through $shadow-blur-scale{
    @for $j from 0 through $shadow-visibility-scale{
        $visibility: $j/8 * 95%;
        .shadow\:is-#{$i}\/#{$j}{
            box-shadow: 0 4px #{$i/4 * 18px} mix(white, $grey-80, $visibility);
        }
    }
}