/**

    ======== DISPLAY ========
    .d:is-display@breakpoint
        display: $displays

    ======== VISIBILITY ========
    .visible:is@breakpoint
    .visible:not@breakpoint
    .hidden:is@breakpoint

*/

$displays: inline inline-block block grid table table-row table-cell inline-table flex inline-flex;

@each $breakpoint, $breakpoint-size in $grid-breakpoints{
    $infix: breakpoint-infix( $breakpoint, $grid-breakpoints, "\\@" );
    
    @include media-breakpoint-up( $breakpoint, $grid-breakpoints ){

        @each $display in $displays{
            .d\:is-#{$display}#{$infix}{
                display: #{$display};
            }
        }

        .visible\:is#{$infix}{
            visibility: visible;
        }
        .visible\:not#{$infix}{
            visibility: hidden;
        }
        .hidden\:is#{$infix}{
            display: none;
        }
    }
}