
$primary-color-1: '#D8F3DC';
$primary-color-2: '#95D5B2';
$primary-color-3: '#74C69D';
$prmiary-color-4: '#52B788';
$prmiary-color-5: '#40916C';
$prmiary-color-6: '#2D6A4F';
$prmiary-color-7: '#1B4332';
$prmiary-color-8: '#081C15';

$theme-primary-color: $theme-primary-color-4;