.form\:input{
    width: 100%;
    outline: none;
    padding: 8px 14px;
    border: 1px solid $form-input-border-color;
    border-radius: $form-input-border-radius;
    background: $form-input-background-color;
    color: $form-input-color;
    font-size: $form-input-font-size;
    transition: border .15s ease-in-out, box-shadow .2s ease-in-out;

    &:hover{
        border-color: $form-input-border-color-hover;
    }

    &:focus{
        @include zIndex('content');
        border-color: $form-input-border-color-focus;
        @if ($form-input-shadow-enabled == true){
            box-shadow: 0 0 0 0.15rem $form-input-box-shadow-focus;
        }
    }

    &::placeholder{
        color: $form-input-placeholder;
    }

    &:disabled{
        background-color: $form-input-background-color-disabled;
        border-color: $form-input-border-color-disabled;
        color: $form-input-color-disabled;
    }

    &[readonly]{
        outline: none;
        border: none;
        padding-left: 0;
        padding-right: 0;
    }
}

.form\:input-is-plain{
    width: 100%;
    outline: none;
    padding: $form-input-padding-y 0;
    color: $form-input-color;
    font-size: $form-input-font-size;
    border: none;

    &:disabled{
        color: $form-input-color-disabled;
    }
}

.form\:input-is-sm{
    padding: 7px 14px;
    font-size: .85rem;
}

.form\:input-is-lg{
    padding: 10px 16px;
    font-size: 1.2rem;
}
