$form-radio-button-background-color-checked: $blue-10;
$form-radio-button-border-radius: 50%;
$form-radio-button-margin-right: $form-checkbox-width * .75;

.form\:radio-button{
    position: relative;
    cursor: pointer;

    & + .form\:help-line{
        margin-left: $form-checkbox-label-padding-left;
        & + .form\:help-line{
            margin-left: $form-checkbox-label-padding-left;
        }
    }

    & .form\:radio-button-label{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        & .form\:radio-button-check{
            width: $form-checkbox-width;
            height: $form-checkbox-height;
            border: 1px solid $form-input-border-color;
            border-radius: $form-radio-button-border-radius;
            cursor: pointer;
            margin-right: $form-radio-button-margin-right;
            display: flex;
            align-items: center;
            justify-content: center;

            &::before{
                content: " ";
                width: 6px;
                height: 6px;
                display: inline-block;
                border-radius: $form-radio-button-border-radius;
                background-color: transparent;
            }
        }
    }    

    & .form\:radio-button-input{

        @include form-input-streched();
        cursor: pointer;

        &:checked{

            & + .form\:radio-button-label .form\:radio-button-check{
                background: $form-checkbox-background-checked;
                border-color: $form-checkbox-border-color-checked;
                
                &::before{
                    background-color: $form-checkbox-icon-color;
                }
            }

            &:disabled{
                & + .form\:radio-button-label .form\:radio-button-check{
                    &::before{
                        background-color: $form-checkbox-border-color-disabled;
                    }
                }
            }
        }

        &:disabled{
            & + .form\:radio-button-label .form\:radio-button-check{
                border-color: $form-checkbox-border-color-disabled;
                background-color: $form-checkbox-background-disabled;
            }
        }

        &:not([disabled]):active,
        &:not([disabled]):focus{
            & + .form\:radio-button-label .form\:radio-button-check{
                box-shadow: 0 0 0 .15rem $form-checkbox-box-shadow-focus;
            }
        }

    }
}
