@mixin prx--form-validation(
    $state,
    $color
){
    .#{$prefix}--form-input[data-valid=#{$state}],
    .#{$prefix}--select-input[data-valid=#{$state}] {
        border-color: $color;

        & + .#{$prefix}--form-validation-feedback{
            color: $color;
        }
    }


    .#{$prefix}--checkbox-input[data-valid=#{$state}]{
        color: $color;
        & + .#{$prefix}--checkbox-label{
            color: $color;
        }

        & + .#{$prefix}--checkbox-label .#{$prefix}--form-validation-feedback{
            color: $color;
            padding-left: 30px;
        }

        & + .#{$prefix}--checkbox-label::before{
            border-color: $color;
        }
    }

    .#{$prefix}--radio-button-input[data-valid=#{$state}]{

        & + .#{$prefix}--radio-button-label{
            color: $color;
        }

        & + .#{$prefix}--radio-button-label .#{$prefix}--radio-button-check{
             border-color: $color;
        }

        & + .#{$prefix}--radio-button-label .#{$prefix}--form-validation-feedback{
            color: $color;
            padding-left: 30px;
        }
    }
}

.#{$prefix}--form-validation-feedback{
    flex: 0 0 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 14px;
    color: $grey-60;
}

@each $state, $data in $prx--form-validation-map{
    @include prx--form-validation( $state, $data... );
}