@import '../../../scss/global';
@import './form-validaition';
@import '../TextField/form-texts';
@import '../TextField/form-input';
@import '../Checkbox/form-checkbox';
@import '../RadioButton/form-radiobutton';
@import '../Select/form-select';


// button
//   -green
//   -blue
//   -orange
//   -red
//         button-outline
//             -green
//             -blue
//             -orange
//             -red
//         button-icon
//         button-plain

$prx--Buttons-pallete: (
    'button-blue': (
        'color-1':      $blue-30,
        'color-2':      $blue-40,
    ),
    'button-green': (
        'color-1':      $green-30,
        'color-2':      $green-40,
    ),
    'button-orange': (
        'color-1':      $orange-30,
        'color-2':      $orange-40,
    ),
    'button-red': (
        'color-1':      $red-30,
        'color-2':      $red-40,
    ),
);

@mixin prx--make-button(){
    background: linear-gradient(to bottom, $grey-10, $grey-20);
    color: $cyan-50;
    border: 1px solid $grey-40;
    color: $grey-60;
    padding: $form-text-input-padding-y $form-text-input-padding-x;
    outline: none;

    &:not([disabled]){
        cursor: pointer;
    }

    &:active,
    &:focus{
        border-color: $grey-10;
    }

    &:focus{
        border-color: $grey-50;
        box-shadow: 0 0 0 .15rem $grey-30;
    }
}

.#{$prefix}--button{
    @include prx--make-button();
    border-radius: 5px;

    &:hover{
        background: linear-gradient(to bottom, $grey-20, $grey-30);
    }

    &:disabled{
        background: $grey-10;
        color: $grey-40;
        border-color: $grey-20;
    }
}

.#{$prefix}--button-outline{
    @include prx--make-button();
    border-radius: 5px;
    background: transparent;

    &:not([disabled]):hover{
        background-color: $grey-10;
    }

    &:disabled{
        color: $grey-40;
        border-color: $grey-20;
    }
}

.#{$prefix}--button-icon{
    padding: 8px 12px;
    border-radius: 50%;
}

.#{$prefix}--button-icon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  $form-text-input-padding-y / 2 $form-text-input-padding-x / 2;

    & > span {
        margin-left: 8px;
    }
}

.#{$prefix}--button-plain{
    @include prx--make-button();

    background: transparent;
    border: none;
    color: $grey-60;

    &:not([disabled]):disabled{
        color: $grey-40;
    }
}

@mixin prx--buttons-coloring(
    $color,
    $properties
){

    $color-1: map-get( $properties, 'color-1' );
    $color-2: map-get( $properties, 'color-2' );

    .#{$prefix}--button.#{$prefix}--#{$color}{
        background: linear-gradient(to bottom, $color-1, $color-2 );
        border-color: $color-2;
        color: $white;

        &:hover{
            background: $color-2;
        }

        &:active,
        &:focus{
            box-shadow: 0 0 0 .15rem mix( white, $color-2, 75%);
        }

        &:disabled{
            background: mix( white, $color-1, 60%);
            border-color: mix( white, $color-1, 50%);
            color: mix( white, $color-1, 90%);
        }
    }

    .#{$prefix}--button-outline.#{$prefix}--#{$color}{

        border-color: $color-2;
        color: $color-2;

        &:not([disabled]):hover{
            background-color: mix( white, $color-2, 95%);
        }

        &:active,
        &:focus{
            box-shadow: 0 0 0 .15rem mix( white, $color-2, 75%);
        }

        &:disabled{
            border-color: mix( white, $color-1, 50%);
            color: mix( white, $color-1, 60%);
        }
    }

    .#{$prefix}--button-plain.#{$prefix}--#{$color}{
        color: $color-1;

        &:not([disabled]):hover{
            text-decoration: underline;
        }

        &:active,
        &:focus{
            box-shadow: none;
        }

        &:disabled{
            color: mix( white, $color-1, 60%);
        }
    }

}


@each $color, $properties in $prx--Buttons-pallete{
    @include prx--buttons-coloring( $color, $properties );
}










.#{$prefix}--form{
    padding: 0;
    margin: 0;
}

.#{$prefix}--form-item{
    display: block;
    margin-bottom: 25px;
}

.#{$prefix}--form-item-collection{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    & >:not(:last-child){
        margin-right: -1px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    & >:not(:first-child){
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .#{$prefix}--form-input{
        flex: 1 1 0;
        min-width: 0;
        width: auto;
    }

    .#{$prefix}--select{
        flex: .5 1 0;
        min-width: 0;
        width: auto;
    }

}

.#{$prefix}--form-input-addons{

    width: 100%;
    display: flex;

    & .#{$prefix}--form-input,
    & .#{$prefix}--form-input{
        flex: 1 1 0;
        width: auto;
    }


    .#{$prefix}--form-input-addon{
        border: 1px solid $grey-40;
        border-radius: 3px;
        padding: 5px;
        display: flex;
        align-items: center;

        & > [class^=#{$prefix}--button]{
            font-size: .75rem;
        }
    }

    & >:not(:first-child){
        border-left-color: transparent;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    & >:not(:last-child){
        border-right-color: transparent;
        margin-right: -2px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    & >:first-child{
        padding-left: 15px;
    }
    & >:last-child{
        padding-right: 15px;
    }


}