@import '../../../scss/global';
@import './form-texts';

.#{$prefix}--form-text-input{
    width: 100%;
    outline: none;
    padding: $form-text-input-padding-y $form-text-input-padding-x;
    border: 1px solid $form-text-input-border;
    border-radius: $form-text-input-radius;
    background: $form-text-input-background;
    margin-top: $form-text-input-margin-x / 2;
    margin-bottom: $form-text-input-margin-x / 2;
    color: $grey-80;
    transition: border .15s ease-in-out, box-shadow .2s ease-in-out;
    font-size: prx--rem($font-size-base * map-get($paragraph-typescale, "md"));

    &:hover{
        border-color: $blue-40;
    }

    &:focus{
        border-color: $blue-60;
        @if ($form-text-input-shadow-enabled == true){
            box-shadow: 0 0 0 0.15rem $blue-10;
        }
    }

    &:disabled{
        background-color: $grey-30;
        border-color: $grey-50;
        color: $grey-60;
    }

}

.#{$prefix}--form-text-input-sm{
    padding: $prx--input-padding-y-sm $prx--input-padding-x-sm;
    min-height: $prx--input-height-sm;
}

.#{$prefix}--form-text-input-lg{
    padding: $prx--input-padding-y-lg $prx--input-padding-x-lg;
}