.container{
    width: 100%;
    padding-left: $container-gap;
    padding-right: $container-gap;
    margin-left: auto;
    margin-right: auto;

    .container\:not-gaps{
        padding-left: 0;
        padding-right: 0;
    }
}

@each $breakpoint, $container-max-width in $container-breakpoints{


    @include prx--media-breakpoint-up( $breakpoint, $grid-breakpoints ){
        .container,
        .container-#{$breakpoint}{
            max-width: $container-max-width;
        }
    }
} 

