@function prx--breakpoint-min( $breakpoint, $breakpoints-map: $grid-breakpoints ){
    $min: map-get( $breakpoints-map, $breakpoint );
    @return if( $min != 0, $min, null );
}

@function prx--breakpoint-max( $breakpoint, $breakpoints-map: $grid-breakpoints ){
    $max: map-get( $breakpoints-map, $breakpoint );
    @return if( $max > 0, $max - .02, null );
}

@function prx--breakpoint-infix( $breakpoint, $breakpoints-map: $grid-breakpoints ){
    @return if( prx--breakpoint-min( $breakpoint, $breakpoints-map ) == null, "", "-#{$breakpoint}" );
}


//Breaks when browser width < max-width
@mixin prx--media-breakpoint-up($breakpoint-name, $breakpoints-map: $grid-breakpoints ){
    $min: prx--breakpoint-min( $breakpoint-name, $breakpoints-map );
    @if $min{
        @media (min-width:  $min){
            @content;
        }
    } @else {
        @content;
    }
}

//Breaks when browser width > max-width
@mixin prx--media-breakpoint-down( $breakpoint-name, $breakpoints-map: $grid-breakpoints ){
    $max: prx--breakpoint-max( $breakpoint-name, $breakpoints-map );
    @if $max{
        @media (max-width:  $max){
            @content;
        }
    } @else {
        @content;
    }
}

//Breaks when browser width > max-width or width < max-width
//Specify min-width < browser width < max-width
@mixin prx--media-breakpoint-between( $minimum, $maximum, $breakpoints-map: $grid-breakpoints ){
    $min: prx--breakpoint-min( $minimum, $breakpoints-map );
    $max: prx--breakpoint-max( $maximum, $breakpoints-map );

    @if $min != null and $max != null {
        @media (min-width:  $min) and (max-width:  $max){
            @content;
        }
    }
}