


@each $color, $value in $colors-pallete{
    @for $i from 1 through 9{
        $colorIndex: $i * 10;
        .#{$color}-#{$colorIndex}{
            background-color: nth(map-get($colors-pallete-mix, $color), $i);
            padding: 25px;
        }
    }
}