@mixin prx--make-container(){
    width: 100%;
    padding-left: $container-gutters / 2;
    padding-right: $container-gutters / 2;
    margin-left: auto;
    margin-right: auto;
}


.#{prefix}--container{
    @include prx--make-container();
    &-fluid{
        @extend .#{prefix}--container;
    }
    &-no-gutters{
        padding-left: 0;
        padding-right: 0;
    }
}

@each $breakpoint, $container-max-width in $container-breakpoints{

    .#{prefix}--container-#{$breakpoint}{
        @extend .#{prefix}--container;
    }

    @include prx--media-breakpoint-up( $breakpoint, $grid-breakpoints ){
        .#{prefix}--container,
        .#{prefix}--container-#{$breakpoint}{
            max-width: $container-max-width;
        }
    }
} 

