
@mixin prx--make-row() {
    display: flex;
    flex-wrap: wrap;
    margin-left: -($grid-gutter/2);
    margin-right: -($grid-gutter/2);
}

@mixin prx--make-col-skeleton() {
    width: 100%;
    max-width: 100%;
    padding-left: $grid-gutter / 2;
    padding-right: $grid-gutter / 2;
    box-sizing: border-box;
    border: 1px dashed #eee;
}

@mixin prx--make-col( $span, $columns: $grid-columns ) {
    flex: 0 0 auto;
    width: 100% / $columns * $span;
}

@mixin prx--make-offset( $span, $columns: $grid-columns ) {
    flex: 0 0 auto;
    margin-left: 100% / $columns * $span;
}


@mixin prx--make-grid-columns-finally(){
    @each $breakpoint, $breakpoint-size in $grid-breakpoints{

        $infix: prx--breakpoint-infix( $breakpoint, $grid-breakpoints );
    
        @include prx--media-breakpoint-up( $breakpoint, $grid-breakpoints ){
    
            .#{prefix}--col#{$infix}{
                flex: 1 0 0%;
            }
    
            @for $i from 1 through $grid-columns{
                .#{prefix}--col#{$infix}-#{$i}{
                    @include prx--make-col( $i, $grid-columns );
                }
    
                .#{prefix}--col-offset#{$infix}-#{$i}{
                    @include prx--make-offset( $i, $grid-columns );
                }
            }

            @for $i from 1 through $grid-columns - 1{
                .#{prefix}--col-offset#{$infix}-#{$i}{
                    @include prx--make-offset( $i, $grid-columns );
                }
            }
    
        }
    }    
}


.#{prefix}--row{
    @include prx--make-row();

    > *{
        @include prx--make-col-skeleton();
    }
}

@include prx--make-grid-columns-finally();